# Database Connection URL (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/investment_simulator?schema=public"

# Auth.js Configuration
AUTH_SECRET="your-development-auth-secret-key-min-32-chars"
NEXTAUTH_URL="http://localhost:3000"

# Application Environment
NODE_ENV="development"
